<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:jpa="http://www.springframework.org/schema/data/jpa"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.1.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.1.xsd
		http://www.springframework.org/schema/data/jpa http://www.springframework.org/schema/data/jpa/spring-jpa-1.0.xsd">
    
    
	
	<!-- 引入jdbc配置文件 -->
    <context:property-placeholder location="classpath:config.properties" ignore-unresolvable="true"/> 
 

	<!-- 自动扫描(service) -->
	<context:component-scan base-package="com.foxtail.service" />
	<!-- 自动扫描(JDBC DAO) -->
	<context:component-scan base-package="com.foxtail.dao.jdbc" />
	
	<!-- <util:properties id="APP_PROPERTIES" location="classpath:config.properties" local-override="true" />
 -->
	<!-- spring上下文,可以获取 上下文的Context -->
	<bean id="appUtil" class="com.foxtail.core.util.AppUtil" />
    <bean class="com.foxtail.common.util.SpringContextUtils" />

	<import resource="spring-shiro.xml"/> 
    <import resource="spring-redis.xml"/>
    
    
    <!-- 配置RestTemplate -->
         <!--Http client Factory-->  
   <!--      <bean id="httpClientFactory" class="org.springframework.http.client.SimpleClientHttpRequestFactory">  
            <property name="connectTimeout"  value="1000"/>
            <property name="readTimeout"  value="1000"/>
        </bean>  
           
        RestTemplate  
        <bean id="restTemplate" class="org.springframework.web.client.RestTemplate">  
            <constructor-arg ref="httpClientFactory"/>  
        </bean> -->
    
</beans>