<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.foxtail.dao.mybatis.sys.SysRoleDao">

	<sql id="BASE_COL">
		id,  name,  rdesc,  status 
	</sql>

	 <!-- 分页数据 -->    
	<select id="findForPage" resultType="com.foxtail.model.sys.SysRole" parameterType="string">
  		select <include refid="BASE_COL" />
  	      from t_sys_role where 1=1 
		  <if test="kw != null ">and role_name like CONCAT('%',#{kw},'%')</if>
  	</select> 
  	
  	
  	  
  	<select id="getById" resultType="com.foxtail.model.sys.SysRole" parameterType="string" >
	  select <include refid="BASE_COL" />
	  from t_sys_role
	  where id = #{id}
	</select>   
	
	<insert id="save" >
      INSERT INTO t_sys_role (name, rdesc, status) VALUES (#{mo.name}, #{mo.rdesc}, #{mo.status});
	</insert>
	
	
	
	<!-- 更新记录 -->
	<update id="update" >
	   update t_sys_role
		<set >
			<if test="mo.name != null ">
		  	name = #{mo.name},
			</if>
			<if test="mo.rdesc != null ">
		  	rdesc = #{mo.rdesc},
			</if>
			<if test="mo.status != null ">
		  	status = #{mo.status},
			</if>
	    </set>
	   where id = #{mo.id}
	</update>
  
  
  		<!--批量删除-->
	<delete id="delete" >
	   delete from t_sys_role
	   where id in
	      <foreach collection="ids" item="id" index="index"
             open="(" close=")" separator=",">
              #{id}
          </foreach>
	</delete>
  

	 <!-- 获取表所有数据 -->    
    <select id="findAll" resultType="com.foxtail.model.sys.SysRole"  >
      select
      <include refid="BASE_COL" />
      from t_sys_role
    </select>



	
	
	<!-- 根据用户id查找用户的所有的角色 -->
	<select id="findRoleTypesByUserId" resultType="java.lang.String" parameterType="java.lang.Integer">
		SELECT DISTINCT t.role_type  FROM t_sys_role t LEFT JOIN t_sys_user_role r
		ON t.id=r.role_id 
		WHERE t.role_status=1 and r.user_id	=#{userId,jdbcType=INTEGER}
	</select>
	
	
	
	<insert id="copyResources" >
	  insert into t_sys_role_res(role_id,resource_id) select #{roleid} role_id,resource_id from t_sys_role_res where role_id=#{copyRoleid}
	</insert>
	
	
	
</mapper>   
